body{
    text-align: center;
    background-color: black;
      background-image: url(image/photo.jpg);
    
}


.clock{
    
    width: 300px;
    height: 300px;
    border: 10px solid gray;
    box-shadow: -4px -4px 10px black
    inset 0 -4px 5px rgba(255,255,255,0.05),
    0 4px 4px rgba(0,0,0,0.3),
    inset 0 4px 4px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2px;
}
.clock_face{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: white;
    overflow: hidden;
}
.clock_face::after{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.clock_face::before, .clock_face::after, .clock_face .clk{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: pink;
    z-index: 0;
    left: 49%;
}
.clock_face .clk{
    background: #bdbdcb;
width: 3px;
}
.clock_one{
    transform: rotate(30deg);
}
.clock_two{
    transform: rotate(60deg);
}
.clock_three{
    transform: rotate(120deg);
}
.clock_four{
    transform: rotate(150deg);
}
.inner-clock-face {

position: absolute;
top: 10%;
left: 10%;
width: 80%;
height: 80%;
background: #282828;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
z-index: 1;
}

.inner-clock-face::before {

content: '';
position: absolute;
top: 50%;
border-radius: 18px;
margin-left: -9px;
margin-top: -6px;
left: 50%;
width: 16px;
height: 16px;
background: pink;
z-index: 11;
}

.hms {

width: 50%;
right: 50%;
height: 6px;
background: hotpink;
position: absolute;
top: 50%;
border-radius: 6px;
transform-origin: 100%;
transform: rotate(90deg);
transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hms.hour-hms {

width: 30%;
z-index: 3;
}
.hms.min-hms {

height: 3px;
z-index: 10;
width: 40%;
}
.hms.second-hms {

background: pink;
width: 45%;
height: 2px;
}